<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.flex-container {
  display: flex;
  justify-content: center;
  background-color: WHITE;
}

.flex-container > div {
  background-color: #FAFAD2;
  width: 330px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

button {
    background-color: #FFA500;
    color: white;
    border: None;
    width: 80%;
    padding: 14px 20px;
    display: inline;

}
button:hover {
    opacity: 0.8;
}

</style>
</head>
<body>
<center><h1>Welcome to Our A1 Face Detection Website!</h1></center>
<hr>

<div class="flex-container">
    <div>
        <form action='{{url_for('login')}}' method='get' >
            <b>Already a user? <br>Please login here!</b>
            <button type="submit">Log In</button>
        </form>
    </div>
    <div>
        <form action='{{url_for('signup')}}' method='get'>
            <b>New to our website? <br> Please sign up here!</b>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div>
        <form action = "{{ url_for('auto_signup')}}" method="post">
            <b>Auto-signup Here!</b>
            <button type="submit"> Auto Sign Up</button>
        </form>
    </div>
</div>

</body>
</html>
