<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <title>{{title}}</title>

    </head>
    <body>
        <div id="header">
            <div id="appname">
                <h1>Photo Album</h1>
            </div>

            <div id="username">
             {% if 'username' in session %}
                {{ session['username'] }} <a href="{{ url_for('logout') }}">Logout</a>
             {% endif %}
            </div>
            <hr style="clear:both"/>
        </div>

        <div id="outher" >
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>


    </body>
</html>