<html>
<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href= {{url_for('static', filename='css/bootstrap.css') }}  rel="stylesheet" type="text/css" media="all" />
    <!-- pignose css -->
    <link href= {{url_for('static', filename='css/pignose.layerslider.css') }} rel="stylesheet" type="text/css" media="all" />


    <!-- //pignose css -->
    <link href= {{url_for('static', filename='css/style.css') }} rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src= "{{ url_for('static', filename = 'js/jquery-2.1.4.min.js') }}" ></script>
    <!-- //js -->
    <!-- cart -->
    <script src= "{{ url_for('static', filename = 'js/simpleCart.min.js') }}"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src= "{{ url_for('static', filename = 'js/bootstrap-3.1.1.min.js') }}"></script>
    <!-- //for bootstrap working -->
    <link href='http://fonts.useso.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <script src= "{{ url_for('static', filename = 'js/jquery.easing.min.js') }}"></script>

</head>


<!-- header -->
<div class="header">
	<div class="container">
		<ul>
			<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Free and Fast Delivery</li>
			<li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Free shipping On all orders</li>
			<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li>
		</ul>
	</div>
</div>



<div class="ban-top">

    <!-- shopping cart  -->
    <div class="center">
        <div class="cart box_1">
            <h3> Registration</h3>
        </div>
    </div>
    <div class="clearfix"></div>

</div>


<body>
<div class="contaner text-center">
<p> {{error}} </p>
<form action={{url_for('register')}} method="POST" onsubmit="return validate()">
    <div class="form-group">
        <!--<p>Email: <input type="email" name="email"></p>-->
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <!--<P>Password: <input type="password" name="password" id="password" required></p>-->
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <!--<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>-->
        <label for="cpassword">Confirm Password:</label>
        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Enter password again">
    </div>
    <div class="form-group">
        <!--<p>First Name: <input type="text" name="firstName"></p>-->
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name">
    </div>
    <div class="form-group">
        <!--<p>Last Name: <input type="text" name="lastName"></p>-->
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name">
    </div>
    <div>
        <!--<p>Address Line 1: <input type="text" name="address1"></p>-->
        <label for="address1">Address Line 1:</label>
        <input type="text" class="form-control" id="address1" name="address1" placeholder="Enter the first line of your address">
    </div>
    <div>
        <!--<p>Address Line 1: <input type="text" name="address1"></p>-->
        <label for="address2">Address Line 2:</label>
        <input type="text" class="form-control" id="address2" name="address2" placeholder="Enter the second line of your address">
    </div>
    <div>
        <!--<p>Zipcode: <input type="text" name="zipcode"></p>-->
        <label for="zipcode">Zipcode:</label>
        <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Enter the zipcode of your address">
    </div>
    <div>
        <!--<p>City: <input type="text" name="city"></p>-->
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Enter the city of your address">
    </div>
    <div>
        <!--<p>Province: <input type="text" name="Province"></p>-->
        <label for="province">State:</label>
        <input type="text" class="form-control" id="province" name="province" placeholder="Enter the Province of your address">
    </div>
    <div>
        <!--<p>Country: <input type="text" name="country"></p>-->
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Enter the country of your address">
    </div>
     <div>
        <!--<p>Phone Number: <input type="text" name="phone"></p>-->
        <label for="phone">Phone Number:</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
    </div>
    <br><br>
    <!--<button type="submit" class="btn btn-info">Register</button><br><br>-->
    <button type="submit" class="cart box_1">Register</button><br><br>
    <!--<a href={{url_for('loginForm')}} class="btn btn-info" role="button">Login here</a>-->
</form>

    <form action={{url_for('loginForm')}}>
            <input type="submit" class ="cart box_1" value="Login here">
    </form>

    <form action={{url_for('root')}}>
            <input type="submit" class ="cart box_1" value="Back to home">
    </form>

</div>
</body>
</html>



