
#appname {
    width: 200px;
    margin: auto;
}

#username {
    float: right;
}

body {
    background: #64718D;
}

#outher {
    text-align: center;
}

#content {
    text-align: center;
    border: solid;
    margin: auto;
    display: inline-block;
    border-radius: 25px;
    background: #CCE4DF;
    padding: 20px;
}

.margin {
    padding: 5px;
}

#album {
    padding: 2px;
    margin: 3px;
    border: gray 1px solid;
}


label
{
    width: 150px;
    display: inline-block;
}